.content {
  height: 100dvh;
  display: grid;
  /* place-items: center; */
  padding: 2rem;
}

.dropdown-btn {
  padding: 0.8rem 2rem;
  width: 400px;
  background: #f6f6f6;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  border-radius: 1rem;
  cursor: pointer;
  will-change: auto;
  outline-color: #7cacf3;
}

@media (max-width: 500px) {
  .dropdown-btn {
    width: min-content;
    gap: 4rem;
  }
}

.dropdown-btn:active {
  scale: 0.98;
}

.dropdown-btn>.open {
  rotate: 180deg;
}

.drawer {
  padding: 1rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 300ms ease-in-out;
}

.drawer.open {
  max-height: 300px;
}

.drawer-item {
  background: #d7d7d7;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: 0.8rem;
}