@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --text-size-xs: 0.69rem;
  --text-size-sm: 0.83rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-xl: 1.44rem;
  --text-size-2xl: 1.73rem;
  --text-size-3xl: 2.07rem;
  --text-size-4xl: 2.49rem;
  --text-size-5xl: 2.99rem;
  --container-padding: 0 1rem;
}

.body {
  color: rgb(43, 43, 43);
  line-height: 1.6;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

h1 {
  font-size: var(--text-size-5xl);
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: var(--text-size-4xl);
  font-weight: 700;
  line-height: 1.1;
}

h5 {
  font-size: var(--text-size-md);
  font-weight: 700;
  line-height: 1.1;
}

a {
  font-size: var(--text-size-sm);
}

a>* {
  display: inline-block;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.cta-btn {
  font-size: var(--text-size-sm);
  padding: 0.8rem 1.6rem;
  background: #000;
  color: white;
  border-radius: 999px;
}

.text-sm {
  font-size: var(--text-size-sm);
}

nav {
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-between;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.brand-icon {
  font-size: var(--text-size-xl);
  font-weight: 700;
}

.hero-section {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: var(--container-padding);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.section {
  margin-top: 3rem;
  padding: 1rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.section-header p {
  font-size: var(--text-size-lg);
}

.section-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 4rem;
}

.feature-header {
  font-size: var(--text-size-xl);
  font-weight: 700;
  margin-bottom: 1rem;
}

.section-with-img {
  margin-top: 6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-with-img>.section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.section.last {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

footer {
  padding: 4rem 1rem;
  background: #ece9e9;
}

footer a {
  text-decoration: underline;
}

.footer-header {
  margin-bottom: 2rem;
}

.footer-header p {
  font-size: var(--text-size-sm);
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-section h5 {
  margin-bottom: 1rem;
}

.copyright-section {
  display: flex;
  flex-direction: column;
  color: #8c8c8c;
}

@media (min-width: 768px) {
  :root {
    --container-padding: 0 4rem;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
  }

  nav {
    padding: 2rem 4rem;
    align-items: center;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .hero-section {
    grid-template-columns: 30rem 1fr;
    align-items: end;
  }

  .hero-content {
    padding-bottom: 20vh;
  }

  .hero-img {
    justify-self: center;
  }

  .section {
    margin-top: 15rem;
    padding: 0 4rem;
  }

  .section-header {
    margin-bottom: 6rem;
  }

  .section-content {
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
  }

  .section-with-img {
    padding: 0 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    flex-direction: row-reverse;
    gap: 8rem;
  }

  .section-with-img.reverse {
    flex-direction: row;
  }

  .section-with-img>* {
    flex-basis: 50%;
  }

  .section-with-img>.section-content {
    flex-basis: 30rem;
    gap: 2rem;
  }

  .section.last {
    margin: 8rem 0;
    padding: 0 4rem;
  }

  .section.last>.section-content {
    grid-template-columns: repeat(4, 1fr);
    font-size: var(--text-size-sm);
  }

  .section.last .feature-header {
    font-size: var(--text-size-lg);
  }

  footer {
    padding: 8rem 4rem 4rem;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: 30% 1fr;
  }

  .footer-content {
    justify-self: end;
    display: flex;
    gap: 4rem;
  }

  .copyright-section {
    flex-direction: row;
    justify-content: space-between;
  }
}