:root {
  --speed: 500ms;
}

.navbar {
  background: #292929;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.nav-icons {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.nav-icon {
  position: relative;
  padding: .6rem;
  border-radius: 999px;
  background: #363636;
  user-select: none;
  transition: filter 400ms ease;
}

.nav-icon:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.dropdown {
  position: absolute;
  top: 60px;
  right: -20px;
  width: 300px;
  background: #292929;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 150ms ease-in-out;
  opacity: 0;
  transform: translateY(-10%);
  box-shadow: #979797 2px 10px 15px;
  overflow: hidden;
  transition: height 500ms ease;
}

.menu {
  width: 100%;
}

.dropdown.enter-done {
  opacity: 1;
  transform: translateY(0%);
}

.dropdown.exit {
  opacity: 1;
  transform: translateY(0%);
}

.dropdown.exit-active {
  opacity: 0;
  transform: translateY(-10%);
}

.dropdown-item {
  display: flex;
  gap: 1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  transition: all 150ms ease;
}


.dropdown-item:hover {
  background: #575757;
}

.dropdown-item>.right-icon {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-enter-done {
  transform: translateX(0%);
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter-done {
  transform: translateX(0%);
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}