.navbar {
  background: #292929;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.nav-icons {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.nav-icon {
  position: relative;
  padding: .6rem;
  border-radius: 999px;
  background: #363636;
  user-select: none;
  transition: filter 400ms ease;
}

.nav-icon:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.dropdown {
  position: absolute;
  top: 60px;
  right: -20px;
  width: 300px;
  background: #292929;
  border-radius: 1rem;
  padding: 1rem 2rem;
}